@media screen and (max-width: 1600px) {
  .btn-send {
    font-size: 14px !important;
  }
  .contact-container {
    margin-right: 20% !important;
  }
}

.contact-container {
  margin-bottom: 50px;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.404);
  padding: 50px;
  margin-right: 40%;
  background-color: white;
}

.contact-header {
  font-size: 25px;
}

.btn-send {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: rgb(27, 194, 166);
  color: white;
  font-size: 20px;
}

.btn-send:hover {
  background-color: rgb(36, 155, 135);
  cursor: pointer;
}

.contact-field {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  padding-top: 8px;
}

.contact-label {
  font-weight: bold;
}

.contact-receiver {
  color: rgb(14, 177, 136) !important;
  font-weight: bold;
  font-size: 16px;
}

.contact-receiver-container {
  padding-top: 3px;
}

.contact-message {
  width: 100%;
  margin-top: 4px;
  border: none;
  overflow: auto;
  outline: none;
  background-color: rgb(241, 241, 241);
  padding: 10px 5px 5px 5px;
  margin-left: -5px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

.contact-message-container {
  margin-top: -10px;
}
