.summary-container {
  margin-bottom: 50px;
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  border: 1px solid rgba(63, 63, 63, 0.137);
  width: 50%;
  background-color: white;
}
