.video-container {
  margin-bottom: 50px;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.404) !important;
  padding: 80px 30px 30px 30px;
  background-color: white;
  border: none;
  width: 700px;
  height: 560px;
}

.video-header {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 25px;
}

.education-container {
  position: relative;
}
