.video-container-1 {
  width: 100%;
  padding-bottom: 51%;
  position: relative;
  height: 0;
}

.video-container-2 {
  width: 100%;
  padding-bottom: 51%;
  position: relative;
  height: 0;
}

.video-container-1 iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.video-container-2 iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.video-header {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 25px;
}

.education-container {
  position: relative;
  padding: 80px 30px 30px 30px;
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  border: 1px solid rgba(63, 63, 63, 0.137);
  background-color: white;
  margin-bottom: 50px;
}
