html {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(16, 212, 163);
  height: 100%;
}

.container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.welcome-container {
  float: left;
  width: 40%;
  height: 100%;
  color: white;
  overflow: hidden;
  position: relative;
}

.welcome-inner-container {
  padding: 50px;
}

.dot1 {
  position: absolute;
  bottom: -100px;
  left: -30px;
  height: 300px;
  width: 300px;
  background-color: rgba(57, 160, 143, 0.37);
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
}

.dot2 {
  position: absolute;
  bottom: -200px;
  right: -40px;
  height: 600px;
  width: 600px;
  background-color: rgba(39, 131, 116, 0.384);
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
}

.dot3 {
  position: absolute;
  bottom: -50px;
  left: -100px;
  height: 500px;
  width: 500px;
  background-color: rgba(57, 175, 156, 0.281);
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
}

.dot4 {
  position: absolute;
  bottom: -20px;
  right: -200px;
  height: 400px;
  width: 400px;
  background-color: rgba(56, 207, 182, 0.473);
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
}

.dot5 {
  position: absolute;
  bottom: 80px;
  left: -200px;
  height: 400px;
  width: 400px;
  background-color: rgba(56, 207, 182, 0.349);
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
}

.welcome-header {
  width: 100%;
  font-size: 70px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.welcome-desc {
  width: 100%;
  font-size: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.login-container {
  float: right;
  width: 60%;
  height: 100%;
  background-color: white;
}

.login-inner-container {
  padding-top: 200px;
  padding-left: 200px;
  padding-right: 200px;
}

.login-header {
  font-size: 40px;
  color: rgb(50, 161, 143);
}

.login-field {
  margin-top: 50px;
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-size: 30px;
}

.login-btn {
  margin-top: 50px;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(27, 194, 166);
  color: white;
  font-size: 30px;
}
