html {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  padding: 0px;
  margin: 0px;
  height: 100%;
  min-width: 1200px;
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 80% !important;
  }
  .nav-link {
    font-size: 16px !important;
  }
  .navbar-title {
    font-size: 32px !important;
  }
  .content-header {
    font-size: 32px !important;
  }
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.main-container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  display: table;
}

.navbar-container {
  float: left;
  width: 15%;
  background-color: rgb(14, 177, 136);
  color: white;
  height: 100%;
}

.navbar-title {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
}

.navbar-container ul {
  padding-left: 25px;
}

.navbar-list {
  list-style-type: none;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.nav-link:active {
  color: white !important;
}
.nav-link:hover {
  color: white !important;
}

.nav-link-icon {
  margin-right: 15px;
}

.content-container {
  float: left;
  width: 85%;
  color: rgb(88, 88, 88);
  background-color: rgb(243, 243, 243);
  height: 100%;
}

.content-header {
  font-size: 40px;
  color: rgb(36, 128, 112);
  margin-top: 40px;
  margin-left: 50px;
}

.content-body {
  padding: 50px;
}

strong {
  font-weight: bold;
}