@media screen and (max-width: 1600px) {
  .table-icon {
    font-size: 16px !important;
  }
  .table-row-id {
    font-size: 18px !important;
  }
}

.table-container {
  background-color: white;
  padding: 50px;
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  border: 1px solid rgba(63, 63, 63, 0.137);
}

.table th {
  border: none !important;
}

.table-icon {
  color: rgb(88, 88, 88) !important;
  font-size: 25px;
}
.table-icon:hover {
  text-decoration: none;
  cursor: pointer;
}

.table-row-id {
  color: rgb(14, 177, 136) !important;
}

.btn-generic {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: rgb(27, 194, 166);
  color: white;
  font-size: 20px;
}

.btn-generic small {
  font-size: 15px;
}

.btn-med {
  border: 0;
  box-shadow: none;
  border-radius: 30px;
  padding: 5px 35px;
  background: navy none;
  color: white;
  font-size: 15px;
}

.btn-red {
  background: maroon;
}

.edit-patient-container {
  background-color: white;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 40%;
  padding: 50px;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.404);
  border: none !important;
}
.ion-3x:before {
  position: relative;
  font-size: 35px;
}

.ion-2x:before {
  position: relative;
  font-size: 20px;
}

.delete:before {
  color: darkred;
}

.delete:hover::before {
  color: red;
}
