.table-container {
  background-color: white;
  padding: 50px;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.404);
  border: none !important;
  margin-right: 50%;
}

.profile-label {
  text-align: right;
  font-weight: bold;
}

.profile-icon {
  font-size: 580%;
}

.btn-edit {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: rgb(27, 194, 166);
  color: white;
  font-size: 20px;
}

.btn-edit:hover {
  background-color: rgb(36, 155, 135);
  cursor: pointer;
}
