@media screen and (max-width: 1600px) {
  .btn-register {
    font-size: 14px !important;
  }
  .round label:after {
    width: 8px !important;
  }
  .round label {
    height: 25px !important;
    width: 25px !important;
  }
  .register-users-container {
    margin-right: 20% !important;
  }
}

.register-users-container {
  background-color: white;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 40%;
  padding: 50px;
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  border: 1px solid rgba(63, 63, 63, 0.137);
}

.register-users-label {
  font-weight: bold;
}

.btn-register {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: rgb(27, 194, 166);
  color: white;
  font-size: 20px;
}

.btn-register:hover {
  background-color: rgb(36, 155, 135);
  cursor: pointer;
}

.round label:hover {
  background-color: rgba(36, 155, 135, 0.151);
}

.register-field {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.979);
  padding-top: 5px;
}

.register-field-phone-number {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.979);
  padding-top: 5px;
}

.register-field-phone-number input {
  border: 0;
}

.round {
  position: relative;
  margin-left: 15px;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: -15px;
  position: absolute;
  top: 0;
  width: 28px;
}

.form-check-label {
  margin-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: rgb(66, 214, 190);
  border-color: rgb(66, 214, 190);
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
