.report-container {
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.404);
    width: 70%;
    background-color: white;
}

.report-header {
    text-align: center;
    top: 50px;
    left: 50px;
    font-size: 20px;
}